.simp-simple-header-heading {
	margin-bottom: 20px;
}

.simp-simple-header-label {
	color: red;
	/* border: black 1px solid; */
	padding: 5px;
	font-style: italic;
}

.simp-simple-header-content {
	/* border: blue 3px dotted; */
}

.simp-simple-header-icon {
	border: magenta 2px dashed;
	padding: 3px;
}